  .root {
    flex: auto;
  }

  .paper {
    padding: spacing(2);
    align-items: center;
    color: aliceblue;
  }

  .text {
    color: #000;
  }


  .textField {
    border-color: red;
    color: crimson
  }



  .lightcoral {
    background-color: rgba(252, 0, 13, 0.822);
  }

  .lightgreen {
    background-color: rgba(9, 248, 9, 0.308);
  }


  .select {
    border-color: rgb(230, 239, 248);
    color: rgb(12, 12, 12);
    background-color: rgba(236, 247, 247, 0.425)
  }

  .boton {
    border-color: black;
    color: black;
    background-color: rgb(80, 121, 255);
    padding: 2, 2, 2, 2;
  }


  .items {
    font-size: 16px;
    /* Tamaño de fuente */
    color: #030963;
    /* Color del texto */
    padding: 10px;
    /* Relleno interno */
    background-color: #e3e3ec;
    /* Color de fondo */
    border-radius: 5px;
    /* Esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(21, 5, 245, 0.788);
    /* Sombra */
  }