/* Menu.module.css */
.menuItem {
 
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, font-weight 0.3s ease; /* Añadido para transiciones suaves */
  }
  
  .menuItem:hover {
    background-color: #c9d9f4;
    font-weight: bold; /* Cambiar el peso de la fuente al estar seleccionado */
    font-size: small;
    font-family: 'Arial', sans-serif; 
  }
  .selected {
    background-color: #7ec0e0;
 
  }

.tamañogral {

  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

  