.botoncerrar {
	padding: 10px 10px;
	border-radius: 10px;
	background: linear-gradient(50deg, #f8cec8 10%, #f8020e 80%);
	background-color: #f8f8f8;
	box-shadow: 0px 4px 10px rgba(240, 54, 7, 0.5);
	font-size: 14px;
	color: rgb(8, 0, 0);
	font-weight: 500;
	text-shadow: 0px 0px 1px rgba(253, 3, 3, 0.979);
	border-bottom-color: rgb(243, 45, 10);
	outline: none;
	cursor: pointer;
	width: 93px;
	/* position: sticky; */
	margin-left: 20px;

}

.botoncerrar:hover {
	background-color: red;
	color: rgb(252, 249, 249);
}

.botoncierradialogo {
	display: inline-flex;
	background: linear-gradient(50deg, #f8cec8 10%, #f101018e 90%);
	width: 120px;
	height: 30px;
	color: #380f02;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 2%;
	position: relative;
	border-radius: 8%;
	border-color: #f8020e;
	transform: scale(1);
	transition: background-color 2s, color 2s, transform 3s;
	margin-right: 20px;
}

.botoncierradialogo:hover {
	background-color: rgb(252, 33, 4);
	color: #fcf7f6;
	transform: scale(1.1);
}

.iconocierradialogo {
	/* display: flex; */
	display:inline;
	width: 20px;
	height: 20px;
	padding: 4px;
}

.iconocierradialogo:hover {
	color: #fcf7f6;
	background-color: rgb(252, 33, 4);
}


/*****/

.botonabredialogo {
	display: inline-flex;
	background: linear-gradient(50deg, #c1f7b6 10%, #57ec448e 90%);
	width: 110px;
	height: 40px;
	color: #380f02;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 20%;
	/* text-size-adjust: 8%; */
	position: relative;
	border-radius: 8%;
	border-color: #036b1d;
	transform: scale(1);
	transition: background-color 2s, color 2s, transform 3s;
	margin-right: 10px;
}

.botonabredialogo:hover {
	background-color: #036b1d;
	color: #fcf7f6;
	transform: scale(1.2);
}

.iconoabredialogo {
	display: flex;
}

.iconoabredialogo:hover {
	color: #fcf7f6;
	background-color: #036b1d;
}

.botonabreselect {
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgba(3, 4, 75, 0.822);
	background-color: rgba(239, 246, 247, 0.432);
	border-color: rgb(2, 1, 34);
	display: flex;
	margin: 14px;
	border-radius: 8px;
	padding: 2;

}

.botonabreselect:hover {
	background-color: rgba(7, 10, 185, 0.678);
	color: rgba(6, 3, 49, 0.966);
	font-size: 15px;
	padding: 2;
}

/****/


/*****/

.botonabreot {
	padding: 10px 10px;
	border-radius: 10px;
	background: linear-gradient(50deg, #95f07a 10%, #15b306 80%);
	background-color: #f8f8f8;
	box-shadow: 0px 4px 10px rgba(56, 235, 71, 0.5);
	font-size: 14px;
	color: rgb(8, 0, 0);
	font-weight: 500;
	text-shadow: 0px 0px 1px rgba(190, 253, 193, 0.979);
	border-bottom-color: rgb(187, 252, 157);
	outline: none;
	cursor: pointer;
	width: 153px;
	/* position: sticky; */
	margin-left: 20px;

}

.botonabreot:hover {
	background-color: #036b1d;
	color: #fcf7f6;
	transform: scale(1.2);
}

.iconoabreot {
	display: flex;
}

.iconoabreot:hover {
	color: #fcf7f6;
	background-color: #036b1d;
}

/****/
.inputabrir {
	display: inline-flex;
	background: linear-gradient(50deg, #2ae9638a 10%, #1b9702 80%);
	box-shadow: 10px 5px 5px hwb(86 11% 1%);
	width: 410px;
	height: 35px;
	color: #380f02;
	text-shadow: #FC0 1px 0 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify-all;
	text-indent: 20%;
	/* text-size-adjust: 8%; */
	position: relative;
	border-color: #020f01;
	transform: scale(1);
	transition: background-color 2s, color 2s, transform 3s;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;

}

.inputabrir:hover {
	background-color: rgb(21, 136, 6);
	color: rgb(252, 249, 249);
}



.botonfincargadatos {
  font-size:15px;
  font-family:Arial;
  width:130px;
  height:30px;
  border-width:1px;
  color:rgba(0, 0, 0, 1);
  border-color:rgba(74, 144, 226, 1);
  font-weight:bold;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  box-shadow: 0px 10px 14px -7px rgba(21, 118, 230, 1);
  text-shadow: 0px 1px 5px rgba(74, 144, 226, 1);
  background:rgba(99, 167, 255, 1);
}

.botonfincargadatos:hover {
  background: rgba(149, 212, 248, 0.33)
}
              

.botoncierracargadatos {
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgba(250, 243, 243, 0.952);
	background-color: rgba(204, 5, 5, 0.527);
	border-color: rgba(245, 5, 5, 0.274);
	/* display: flex; */
	margin: 8px;
	border: 8px;
	border-radius: 2px;
	padding: 2;

}
.botoncierracargadatos:focus {
	background-color: rgb(245, 3, 3);
	color: rgba(250, 243, 243, 0.952);
	font-size: 10px;
	padding: 2;
}

.botoncierracargadatos:hover {
	background-color: rgb(245, 3, 3);
	color: rgba(252, 246, 246, 0.486);
	font-size: 10px;
	padding: 2;
}



.botonok {
	display: inline-flex;
	background: linear-gradient(50deg, #c7eefaf8 10%, #bad6db8e 90%);
	width: 90px;
	height: 30px;
	color: #380f02;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 20%;
	/* text-size-adjust: 8%; */
	position: relative;
	border-radius: 8%;
	border-color: #bad6db8e;
	transform: scale(1);
	transition: background-color 2s, color 2s, transform 1s;
	margin-right: 10px;
}

.botonok:hover {
	background-color: #bad6db8e;
	color: #5907f1;
	transform: scale(1.2);
}

.iconobotonok {
	display: flex;
}

.iconobotonok:hover {
	color: #fcf7f6;
	background-color:#bad6db8e;
}


.botoncerrar {
	display: inline-flex;
	background: linear-gradient(50deg, #c7eefaf8 10%, #bad6db8e 90%);
	width: 90px;
	height: 30px;
	color: #380f02;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	position: relative;
	border-radius: 8%;
	border-color: #bad6db8e;
	transform: scale(1);
	transition: background-color 2s, color 2s, transform 1s;
	margin-right: 10px;
}

.botoncerrar:hover {
	background-color: #bad6db8e;
	color: #5907f1;
	transform: scale(1.2);
}

.iconobotoncerrar {
	display: flex;
}

.iconobotoncerrar:hover {
	color: #1c04f5;
	background-color:#bad6db8e;
}
