.dialogo {
	padding: auto;
	background-color: rgba(255, 217, 0, 0.514);
	width: auto;
}

.dialogocontenido {

	background-color: rgb(236, 242, 248);
	width: auto;
}

.dialogotitulo {
	padding: auto;
	background-color: rgba(185, 189, 248, 0.555);
	width: auto;
	color: #db1717;
	align-items: center;

}

.dialogoanexo {
	position: flex;
	background-color: rgba(246, 246, 252, 0);
	width: 70%;
	height: 30%;
	min-height: 100vh;
	max-height: 100vh;
	padding: 5px;
}

.h3 {
	padding: auto;
	background-color: rgba(187, 245, 247, 0.438);
	width: auto;
	color: #db1717;
	align-items: flex-end;

}

.h4 {
	padding: auto;
	background-color: rgba(236, 250, 251, 0.438);
	width: auto;
	color: #0e3ecf;
	align-items: flex-end;

}