.div {

    background-color: rgba(236, 240, 245, 0.356);
    border: 1px solid rgb(7, 51, 148);
    position: right;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    max-Width: 100%;
    border-color: rgb(4, 41, 252);

}