.botonabredialogo {
	display: inline-flex;
	background: linear-gradient(50deg, #dbdff0 10%, #1b83fa8e 90%);
	width: 75px;
	height: 20px;
	color: #380f02;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-indent: 10%;
	/* text-size-adjust: 8%; */
	position: relative;
	border-radius: 8%;
	border-color: #03056b;
	transform: scale(1);
	transition: background-color 2s, color 2s, transform 3s;
	margin-right: 10px;
	margin-left: 10px;
}

.botonabredialogo:hover {
	background-color: #032d6b;
	color: #fcf7f6;
	width: 75px;
	transform: scale(1.1);
}
.tfcurrency {
	padding: 5px;
	background-color: rgba(249, 245, 227, 0.514);
	width: 110px;
	text-align: right;
	font-size: 14px;
    font-weight: bold;
	color: #277909;
	height: 30px;
}
.tfield {
	padding: 5px 5px 0px 5px;
	background-color: rgba(249, 245, 227, 0.514);
	width: 25px;
	text-align: right;
	font-size: 13px;
    font-weight: bold;
	color: #3e07a5e0;
	height: 30px;
}