.tabla {
	padding: auto;
	background-color: rgba(255, 217, 0, 0.514);
	width: 1000px;
}

.tablapresupuesto {
	position: sticky;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: rgba(242, 244, 245, 0.514);
	width: 1600px;
}

.tablapresupuestoslot {
	background-color:  rgba(242, 244, 245, 0.514);
	display: flex;
	justify-content:  flex-end;

}



.tablaanexo {
	position: flex;
	background-color: rgba(235, 240, 241, 0.3);
	height: 350px;
	max-width:"xl";
	padding: 25px;
}