.selectField {
    padding: 1px 1px;  /* Menos padding para reducir la altura */
    margin: 6px 0;  /* Margen más compacto */
    font-size: 12px;  /* Tamaño de fuente más pequeño */
    line-height: 0.5; /* Reduce la altura interna */
    border-right: 2px solid rgb(2, 11, 61);
    border-bottom: 2px solid rgb(0, 4, 255);
    border-radius: 6px; /* Redondeado más sutil */
    background-color: rgba(248, 248, 248, 0.3);
    color:  rgb(2, 11, 61);
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 1px 3px rgba(7, 4, 180, 0.2); /* Menos sombra */
}

/* Cambio visual al pasar el mouse */
.selectField:hover {
    box-shadow: 0 4px 10px rgba(7, 4, 180, 0.3);
}

/* Estilos cuando el campo está enfocado */
.selectField:focus {
    border-color: rgb(0, 4, 255);
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 4, 255, 0.4);
}


.selectLabel {
    font-size: 16px;
    color: #020538;
    /* Color del texto del label */
    margin-bottom: 5px;
}

.menuItem {
    background-color: rgba(14, 45, 201, 0.034);
    color: #333;
}

.menuItem:hover {
    background-color: rgba(190, 200, 248, 0.178);
    color: #020538;
}

.menuItem:visited {
    color: #f311bb;

}



.menuItem:focus {
    background-color: rgba(190, 200, 248, 0.178);
    /* Color de fondo cuando se navega con el cursor */
    color: #f81130;
    /* Color del texto cuando se navega con el cursor */
}



.selectFieldDialogDatos {
    padding: 1px 1px;  /* Menos padding para reducir la altura */
    margin: 6px 0;  /* Margen más compacto */
    font-size: 16px;  /* Tamaño de fuente más pequeño */
    line-height: 2.5; /* Reduce la altura interna */
    height: 50px;
    width: 90px;
    border: 2px solid rgba(12, 12, 12, 0.123);
    border-bottom: 2px solid rgb(0, 4, 255);
    border-radius: 6px; /* Redondeado más sutil */
    background-color: rgba(248, 248, 248, 0.3);
    color:  rgb(2, 11, 61);
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 1px 3px rgba(7, 4, 180, 0.2); /* Menos sombra */
}

/* Cambio visual al pasar el mouse */
.selectFieldDialogDatos:hover {
    box-shadow: 0 4px 10px rgba(7, 4, 180, 0.3);
     border: 2px solid rgba(12, 12, 12, 0.562);
}

/* Estilos cuando el campo está enfocado */
.selectFieldDialogDatos:focus {
    /* border-color: rgb(0, 4, 255); */
     border: 2px solid rgba(12, 12, 12, 0.562);
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 4, 255, 0.4);
}

