.tfselect {
	padding: 45px;
	background-color: rgba(243, 242, 253, 0.432);
	width: 400px;
	/* variant:"outlined"; */
	margin: "dense";
}

.tfmed {
	padding: 45px;
	background-color: rgba(249, 245, 227, 0.514);
	width: 150px;
	/* variant:"outlined"; */
	margin: "dense";
}

.tfcurrency {
	padding: 5px;
	background-color: rgba(249, 245, 227, 0.514);
	width: 150px;
	text-align: right;
	font-size: 18px;
	color: #277909;
	height: 30px;
}

.textfcantidad {
	padding: 5px;
	background-color: rgba(190, 200, 248, 0.178);
	border-right: 2px solid rgb(0, 4, 255);
	/* Borde solo a la derecha */
	border-bottom: 2px solid rgb(0, 4, 255);
	/* Borde solo abajo */
	border-radius: 0 0 8px 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(7, 4, 180, 0.295);
}

.textfcantidaddes {
	padding: 5px;
	background-color: rgba(11, 48, 236, 0.959);
	border-right: 2px solid rgb(0, 4, 255);
	/* Borde solo a la derecha */
	border-bottom: 2px solid rgb(0, 4, 255);
	/* Borde solo abajo */
	border-radius: 0 0 8px 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(7, 4, 180, 0.295);
}

.textftexto {
	/* padding: 5px; */
	margin-bottom: 2px;
	margin-right: 8px;
	margin-left: 5px;
	background-color: rgba(168, 195, 245, 0.082);
	border-right: 2px solid rgba(4, 30, 77, 0.966);
	border-bottom: 2px solid rgba(5, 3, 119, 0.973);
	border-radius: 0 0 8px 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(3, 104, 245, 0.568);

}


.formLabel {
	margin-bottom: 1px;
	color: rgb(64, 64, 71)
}

.input {
	margin-bottom: 1px;
	background-color: rgb(255, 60, 0)
}